<div class="container text-center">
	
<div class="col-md-12 ">
    <div class="center-block">
    <ul class="list-inline">
    	<li><label>Symbol</label>&nbsp;&nbsp;<input type="text" name="name" value="name"></li>
    	<li><label>peroid</label>&nbsp;&nbsp;
    	<select name="peroid">
    	<option selected="Daily">Daily</option>
    	<option>Weekly</option>
    	</select>
    	</li>
    </ul>
    <ul class="list-inline">
    	<li><label>Log Chart</label>&nbsp;&nbsp;<input type="checkbox" name="logchart"></li>
    	<li><label>Color Chart</label>&nbsp;&nbsp;<input type="checkbox" name="colorchart"></li>

    </ul>
    <ul class="list-inline">
    	
    	<li><label>Chart Size :</label>&nbsp;&nbsp;
    	<select name="peroid">
    	<option selected="Small">Small</option>
    	<option>Medium</option>
    	<option>Large</option>
    	</select>
    	</li>
    	<li><label>Chart Type :</label>&nbsp;&nbsp;
    	<select name="peroid">
    	<option selected="Daily">Daily</option>
    	<option>Weekly</option>
    	</select>
    	</li>
    </ul>
    <ul class="list-inline">
    	<li><label>Pre defined Date :</label><input type="radio" name="pre-defined date" value="pre-defined"></li>&nbsp;&nbsp;
    	<li><input type="date" name="date"></li>
    </ul>
	<div chart1 class="chart1"></div>
    </div>
	
</div>
</div>