<div class="container">
<div class="post-content" ng-controller="FatChartCtrl">
    <div class="col-md-12 row">

    <div class="col-md-6">
        <h2>Live edit</h2>

        <form class="form-horizontal" role="form">
            <div class="form-group ">
               <!-- <label class="control-label" for="chart-data-rows-1-3-v">February server sale units</label>

                <input class="form-control" type="number" min="0" max="100" ng-model="chart.data.rows[1].c[3].v" id="chart-data-rows-1-3-v"
                />
                <label class="control-label" for="chart-data-rows-2-4-v">March shipping units</label>

                <input class="form-control" type="number" min="0" max="100" ng-model="chart.data.rows[2].c[4].v" id="chart-data-rows-2-4-v"
                />
                <label class="control-label" for="chart-options-title">Name Change</label> -->

                <input class="form-control" type="text" min="0" max="100" ng-model="chart.options.title" id="chart-options-title"
                />
            </div>
            <!--<div class="form-group">
                <label class="control-label" for="chart-options-vAxis-gridlines-count">Number of grid lines</label>

                <input class="form-control" type="number" min="0" max="100" ng-model="chart.options.vAxis.gridlines.count" id="chart-options-vAxis-gridlines-count"
                />
            </div> -->
            <div class="form-group">
                <input type="button" name="refresh" value="Refresh Data" ng-click="loadData()"/>
                <label for="symbol">Chart Data</label>
                <input type="text" name="symbol" id="symbol" ng-model="symbol" value="HP" placeholder="HP" >
                
                 <br>

                 <label for="month">Pre Defined</label>
                 <select class="form-control" id="month" ng-model="month" ng-change="loadData()">

                    <option value="three-months">three-months</option>
                    <option  value="six-months">six-Months</option>
                     

                 </select>
                 <br>
                 <label for="fromDate">FromDate</label>
                 <input type="text" name="fromDate" id="fromDate" ng-model="fromDate" value="fromDate" placeholder="2016-01-01">

                 <label for="toDate">toDate</label>
                 <input type="text" name="toDate" id="toDate" ng-model="toDate" value="toDate" placeholder="yyy-mm-dd">





               <!--          
               <select class="form-control" id="chartData" ng-model="symbol" ng-change="loadData()">
                    
                    <option value="HP">HP</option>
                    <option  value="INFY">INFY</option>
                    
                    
                </select> -->

            </div>

            <div class="form-group">
                <label for="chartType">Chart type</label>

                <select class="form-control" id="chartType" ng-model="chart.type" ng-change="chartSelectionChange()">
                    
                    <option value="LineChart">LineChart</option>
                    <option value="Table">Table</option>
                    
                </select>

            </div>
            <!-- <div class="form-group">
                <div class="checkbox">
                    <label for="hideServer">
                        <input id="hideServer" type="checkbox" ng-model="hideServer" ng-change="selectionChange()" /> Hide Server Data</label>

                </div>


            </div> -->

            <!-- <div class="form-group">
                <div class="checkbox">
                    <label for="htmlTooltip" ng-show="chart.type!='Table'">
                        <input id="htmlTooltip" type="checkbox" ng-model="chart.options.tooltip.isHtml" ng-change="htmlTooltip()" /> Remove Html Tooltip
                    </label>
                </div>
            </div> -->
            

            <div class="form-group" ng-show="chart.type=='Table'">
                <label for="chartType">Format</label>

                <ul class="list-unstyled list-inline">
                    <li ng-repeat="format in formatCollection">
                        <button class="btn primary" ng-click="toggleFormat(format)" ng-bind="format.name"></button>
                    </li>
                </ul>
            </div>

        </form>

    
    </div>

    <div class="col-md-6" >
         <h2>Visulazation Of Graphs</h2>
        <div google-chart chart="chart" style="{{cssStyle}}" on-ready="chartReady()"></div>
        <!-- explicit close of tag seems to be necessary -->
    </div>


    <!-- <div class="col-xs-12">

        <h2>Usage</h2>
    <pre ng-non-bindable>&lt;div google-chart chart="chartObject" style="{{cssStyle}}"&gt;&lt;/div&gt;</pre>
    <h2>Setup</h2>
    <pre>$scope.chartObject = {{chart|json}}</pre>
    </div> -->
</div>
  </div>
</div>